.*
!.travis.yml
!.gitignore
/elgg-config/settings.php
/cache
/settings.php
/mod/*
/mod/*/
/vendor
/docs

!/mod/awakening_groups/
!/mod/awakening_theme/
!/mod/awakening_story/
!/mod/awakening_now/
!/mod/awakening_media/

/archive/
/awakeningmap.net/
/awakeningmap.org/
/elgg/
/elgg23.awakeningmap.com/
/timeturners.club/
/wordpress/
/yandi/

