<div class="elgg-page-section elgg-page-html-block">
    <div class="elgg-inner">
        <input type="hidden" :name="resolveInputName('type')" :value="block.type" />
        
        <div style="margin-top: 40px;">
            <textarea
                :name="resolveInputName('data')"
                rows="10"
                cols="50"
                style="width: 100%"
                v-model="block.data"
            >
            </textarea>

            <div style="text-align: right; margin-top: 12px;">
                <a href="javascript:void(0)" class="elgg-button elgg-button-delete" v-on:click="deleteBlock">
                    Delete Block
                </a>
            </div>
        </div>
    </div>
</div>